.container {
    text-align: center;
    margin-top: 3vh !important;
    margin: auto;
    width: 80%;
    border: 1px solid #eeeeee;
    box-shadow: 10px 10px 5px #939393;
    padding: 10px;
    display: block;
  }